# Ignore all .pyc files in any __pycache__ directory
__pycache__/*.pyc

# If you have __pycache__ directories in specific subdirectories and want to be explicit
# interfaceGraphique/__pycache__/*.pyc
# gestionnaireCSV/__pycache__/*.pyc
